.form {
  display: block;
}

.form_Mobile {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.input {
  position: relative;
  font-family: Verdana;
  display: block;
  width: 290px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: black;
  border: none;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.input::placeholder {
  color: #9b9faa;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.btn {
  display: block;
  width: 50px;
  height: 50px;
  background: #fc842d;
  border: none;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
}

.btn::before {
  content: '\002B';
  cursor: pointer;
  font-size: 25px;
  color: #ffffff;
}

.btn:focus,
.btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.btn_Add {
  margin: 0 auto !important;
}

@media screen and (max-width: 767px) {
  .input {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  .input {
    width: 104px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
  }

  .input:last-child::placeholder {
    -moz-appearance: textfield;
    text-align: end;
  }

  .input:first-child {
    width: 240px;
    margin-right: 31px;
  }

  .input:last-child {
    width: 105px;
    margin-bottom: 0;
  }

  .btn {
    margin-left: 48px;
  }
}
.products_datalist {
  position: absolute;
  top: 0px;
  left: 0px;

  /* left: calc(50% - 150px); */
  z-index: 5;

  max-height: 100px;
  background-color: #fff;
  overflow-y: scroll;
  background-position: 95% 50%;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 20px;
  width: 220px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .products_datalist {
    top: 40px;
    left: 0px;
  }
}
.options {
  border: none;
  background-color: #f6f6f6;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
}
/* .select_css {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select_css::-ms-expand {
  display: none;
}
.select_css:hover {
  border-color: #888;
}
.select_css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select_css option {
  font-weight: normal;
}
*[dir='rtl'] .select_css,
:root:lang(ar) .select_css,
:root:lang(iw) .select_css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
} */
