.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enterNavButton {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 15px;
}

.registrationNavButton {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #9b9faa;
  margin-right: 15px;
}

.headerNavUnderline {
  border: 2px solid #e0e0e0;
}

.logo {
  width: 46.6px;
  height: auto;
  margin: 18px 15px;
}

.textField {
  display: flex;
  flex-direction: column;
}
.title {
  position: absolute;
  width: 48px;
  height: 12px;
  left: 136px;
  top: 120px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fc842d;
}

.loginInput {
  /* position: absolute; */
  width: 289px;
  left: 15px;
  top: 60px;
}
/* .loginInput::placeholder {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #9b9faa;
} */
.passwordInput {
  /* position: absolute; */
  width: 288.79px;
  left: 15px;
  top: 50px;
}
.enterButton {
  position: absolute;
  width: 176px;
  height: 44px;
  left: 72px;
  top: 330px;
  background: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.registrationButton {
  position: absolute;
  width: 176px;
  height: 44px;
  left: 72px;
  top: 400px;
  background: #ffffff;
  border: 2px solid #fc842d;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fc842d;
}
